.logoWrapper {
    display: block;
    position: relative;
    width: 185px;
    margin: 0 auto;
}

.strip {
    width: 185px;
    height: 36px;
    display: block;
    top: 74px;
    position: absolute;
    border-radius: 30px;
    transform: rotate(76deg);
    animation: entry 1s ease-in-out;
}

.stripOrange {
    background-color: #f96216;
}

.stripPurple {
    background-color: #b200f8;
    transform: rotate(312deg);
}

.stripBlue {
    background-color: #00b4f2;
    transform: rotate(19deg);
}

.heading {
    animation: entryText 1.1s ease-in-out;
}

.heading span {
    animation: 1s wave forwards 1s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.button {
    animation: 1s fadein forwards;
}

@keyframes entry {
    from {
        transform: rotate(-360deg) scale(.1);
        transform-origin: center;
        width: 39px;
    }
}

@keyframes entryText {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes entryText {
    from {
        transform: translateX(-30px);
        opacity: 0;
        letter-spacing: 3px;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0.0deg)
    }
    50% {
        transform: rotate(14.0deg)
    }
    100% {
        transform: rotate(0.0deg)
    }
}
