.hiddenWrapper {
    display: none;
}
.hiddenWrapper.block {
    display: block;
}
.fullScreen {
    height: 100% !important;
}
.logo i {
    font-style: normal;
    width: 46px;
    height: 46px;
    font-size: 53px;
    text-align: center;
    line-height: 50px;
}
.nav {
    width: 70px;
    height: 70px;
    background: theme('colors.purple');
    z-index: 9;
    right: 30px;
    top: 30px;
    position: fixed;
    overflow: hidden;
    display: block;
}
.nav .line {
    width: 60%;
    margin: 0 auto;
    height: 4px;
    position: relative;
    background: #fff;
    transition: 400ms all ease-out;
}
.nav .line:nth-child(1) {
    top: 20px;
}
.nav .line:nth-child(2) {
    top: 30px;
}
.nav .line:nth-child(3) {
    top: 40px;
}
.nav.active .line:nth-child(1) {
    transform: rotate(45deg);
    top: 35px;
}
.nav.active .line:nth-child(2) {
    display: none;
}
.nav.active .line:nth-child(3) {
    transform: rotate(-45deg);
    top: 31px;
}
@media screen and (max-width: 768px) {
    .nav {
        transform: scale(0.65);
        top: 3px;
        right: 10px;
    }
}
.navItems{
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    opacity: 0;
    background:  url("/images/home/bg-new.png");
    color: #ffffff;
    background-color: #14029c;;
    animation: fade-in 250ms ease-out;
    animation-fill-mode: forwards;
}

.navItems a {
    color: #ffffff !important;
    background: none;
    transition: opacity 200ms linear;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #ffffff;
    background-size: auto;
    background-position: 100%;
}
.navItems a:hover {
    opacity: 0.7;
}
.navItems a.nav-active {
    background-position: 0 100%;
    font-weight: 800;
    text-decoration: underline;
    font-family: 'Merriweather Sans', sans-serif;
}
.animate-rotate {
    transform: rotate(360deg);
}
.fullScreen {
    overflow: hidden;
    height: 100vh;
    z-index: 8;
}
.fullScreen.fixed {
    position: fixed !important;
}
.circles-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-color: theme('colors.blue');
    filter: blur(10px);
}

@keyframes animate-rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
