@media screen and (max-width: 640px) {
    .aboutCircles {
        min-width: 100%;
    }
}
.aboutCircles picture {
    display: block;
}
.aboutCircles picture:nth-child(1) img {
    right: -240px;
    top: 60px;
    width: 210px;
    height: 210px;
}
@media screen and (max-width: 640px) {
    .aboutCircles picture:nth-child(1) img {
        top: 80px;
        right: -150px;
    }
}
.aboutCircles picture:nth-child(2) img {
    width: 323px;
    height: 323px;
}
@media screen and (max-width: 640px) {
    .aboutCircles picture:nth-child(2) img {
        left: -50px;
    }
}
.aboutCircles picture:nth-child(3) img {
    right: -160px;
    top: -25px;
    width: 289px;
    height: 289px;
}
@media screen and (max-width: 640px) {
    .aboutCircles picture:nth-child(3) img {
        right: -70px;
        top: -75px;
    }
}
.aboutCirclesB picture {
    display: block;
    flex: none;
}
.aboutCirclesB picture:nth-child(1) img {
    left: -170px;
    top: 90px;
    width: 210px;
    height: 210px;
}
@media screen and (max-width: 640px) {
    .aboutCirclesB picture:nth-child(1) img {
        left: 0;
    }
}
.aboutCirclesB picture:nth-child(2) img {
    width: 323px;
    height: 323px;
}
@media screen and (max-width: 640px) {
    .aboutCirclesB picture:nth-child(2) img {
        left: 50px;
        width: 273px;
        height: 263px;
    }
}
.aboutCirclesB picture:nth-child(3) img {
    left: -150px;
    width: 289px;
    height: 289px;
    top: -30px;
}
@media screen and (max-width: 640px) {
    .aboutCirclesB picture:nth-child(3) img {
        left: 0;
        top: -80px;
    }
}
.bg-cover {
    image-rendering: auto !important;
}
@media screen and (min-width: 768px) {
    .contentWrapper {
        max-width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .contentWrapper {
        max-width: 60%;
    }
}
@media screen and (min-width: 1280px) {
    .contentWrapper {
        max-width: 70%;
    }
}
.rounded-full {
    border-radius: 50%;
}

.hobbiesWrapper > div:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .hobbiesWrapper > div:nth-child(even) {
        flex-direction: column;
    }
}

.hobbiesWrapper > div:nth-child(even) picture {
    margin-right: 0 !important;
    margin-left: 5rem;
}

@media screen and (max-width: 768px) {
    .hobbiesWrapper > div:nth-child(even) picture {
        margin-left: 0;
    }
}

